
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>PhotosMaker HTML5 responsive template</title>
    <meta name="keywords" content="PhotosMaker, responsive bootstrap, green, white, free html5 template, templatemo" />
	<meta name="description" content="PhotosMaker is free responsive template using bootstrap framework. Gallery is integrated with responsive lightbox." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- CSS Bootstrap & Custom -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/templatemo_misc.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/templatemo_style.css">

	<!-- Favicons -->
    <link rel="shortcut icon" href="/assets/images/ico/favicon.ico">

</head>
<body>
	

	<div class="site-header">
		<div class="main-navigation">
			<div class="responsive_menu">
				<ul>
					<li><a class="show-1 templatemo_home" href="#">图集</a></li>
					<li><a class="show-2 templatemo_page2" href="#">摄影</a></li>
					<li><a class="show-3 templatemo_page3" href="#">服务</a></li>
					<li><a class="show-4 templatemo_page4" href="#">关于我们</a></li>
					<li><a class="show-5 templatemo_page5" href="#">联系我们</a></li>
				</ul>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 responsive-menu">
						<a href="#" class="menu-toggle-btn">
				            <i class="fa fa-bars"></i>
				        </a>
					</div> <!-- /.col-md-12 -->
					<div class="col-md-12 main_menu">
						<ul>
							<li><a class="show-1 templatemo_home" href="#">图集</a></li>
							<li><a class="show-2 templatemo_page2" href="#">摄影</a></li>
							<li><a class="show-3 templatemo_page3" href="#">服务</a></li>
							<li><a class="show-4 templatemo_page4" href="#">关于我们</a></li>
							<li><a class="show-5 templatemo_page5" href="#">联系我们</a></li>
						</ul>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> 
            <a class="navigation-bg" href="#" title=""  target="_blank"><img src="/assets/images/header.png" alt=""  /></a><!-- /.container -->
		</div> <!-- /.main-navigation -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a class="templatemo_logo"  >
						<h1>PhotosMaker</h1>
					</a> <!-- /.logo -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.site-header -->
	
	

		<div class="content services" id="menu-3">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-10">
						<div class="inner-content">
							<div class="toggle-content" id="tab1">
								<h2 class="page-title">Our Services</h2>
								<p>Proin accumsan, velit at pretium eleifend, lectus neque volutpat tortor, at placerat arcu odio vitae nisl. Curabitur dui ipsum, varius lobortis eros eget, faucibus faucibus nisl. <a href="#">Donec tincidunt</a> est a scelerisque suscipit. Vivamus sit amet purus at ante mollis mattis a at ante. Praesent purus metus, aliquet non porta sit amet, ultrices sit amet purus. Phasellus vitae orci diam. Cras sit amet gravida neque, auctor lobortis nibh.</p>
								<ul>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
									<li>Aliquid, beatae, ea delectus asperiores nostrum tempora nihil facere.</li>
									<li>Consequatur nesciunt dolorem deserunt necessitatibus.</li>
									<li>Iste laboriosam qui pariatur cum sint modi.</li>
								</ul>
								<p>PhotosMaker is <a href="http://www.cssmoban.com" >free responsive template</a> based on <a href="http://getbootstrap.com" >Bootstrap</a> framework. Gallery page is integrated with <a href="https://github.com/duncanmcdougall/Responsive-Lightbox" >responsive lightbox</a>. Credit goes to <a href="http://unsplash.com" >Unsplash</a> for all images featured in this template. This template can be viewed in mobile phones or tablets. Feel free to use this layout for your websites.</p>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab2">
								<h2 class="page-title">Our Support</h2>
								<p>Quisque vestibulum sed mauris vel aliquet. Etiam in purus a massa mattis bibendum. Donec dolor odio, porttitor molestie euismod dictum, ultrices vel ipsum. Phasellus id sollicitudin erat. Nullam imperdiet sed metus iaculis dapibus. <a href="#">Duis pharetra</a> feugiat metus in sollicitudin.</p>
                                <p>Proin cursus dapibus ipsum, vel congue tellus malesuada aliquam. Nullam id arcu urna. Donec at velit vel velit ultricies accumsan. Integer commodo dui libero, vitae rhoncus ante porttitor ac. Pellentesque sit amet lectus eros. <a href="h#" >Aliquam placerat</a> varius quam sed aliquam. Curabitur turpis diam, iaculis sit amet auctor ut, cursus quis velit. Mauris non risus vitae purus sodales rhoncus.</p>
                                <p>Sed feugiat a turpis vitae porttitor. Proin placerat vitae enim ac scelerisque. Cras ac lectus hendrerit, pellentesque metus ut, molestie diam. Nam vitae bibendum velit, eu fermentum dui. In sodales dolor interdum egestas consequat. Integer id dolor nulla. Donec nec ante mauris.</p>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab3">
								<h2 class="page-title">Testimonials</h2>
								<p>Duis interdum eros elit, ut semper massa imperdiet vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut pretium vehicula est tristique volutpat. Duis ac felis quis augue dapibus hendrerit. Vivamus pretium, felis sed dignissim commodo, quam turpis commodo ipsum, at varius nisi risus ut dolor. Mauris quam purus, molestie ac urna eu, sagittis sagittis dui.</p>
                                <p><a href="h#" >Integer risus mauris</a>, fermentum ac risus eu, vehicula tempus augue. Morbi egestas nulla turpis, non sollicitudin justo interdum ac. Pellentesque elementum, urna bibendum semper ullamcorper, lorem justo gravida arcu, ut pellentesque nulla orci in neque. Curabitur in commodo sem, rhoncus lobortis mi. Maecenas sit amet arcu sapien.</p>
                                <p>Phasellus molestie molestie metus quis elementum. Cras dictum rutrum arcu id interdum. Vivamus suscipit suscipit mauris eget feugiat. Sed sagittis enim id tempus vulputate. Aliquam erat volutpat. In quis neque sodales, pulvinar turpis sed, lacinia sem.</p>
							</div> <!-- /.toggle-content -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-9 -->
					<div class="col-md-3 col-sm-2">
						<div id="icons">
							<ul class="tabs">
								<li>
									<a href="#tab1" class="icon-item">
										<i class="fa fa-cogs"></i>
										<span>Services</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab2" class="icon-item">
										<i class="fa fa-leaf"></i>
										<span>Our Support</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab3" class="icon-item">
										<i class="fa fa-users"></i>
										<span>Testimonials</span>
									</a> <!-- /.icon-item -->
								</li>
							</ul>
						</div> <!-- /.icons -->
					</div> <!-- /.col-md-3 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.services -->
		
		<div class="content contact" id="menu-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="widget-content">
							<div class="page-title">Contact Us</div>
							<div class="contact-form">
								<fieldset>
									<input id="name" type="text" name="name" placeholder="Name" maxlength="40">
								</fieldset>
								<fieldset>
									<input type="email" name="email" id="email" placeholder="Email" maxlength="30">
								</fieldset>
								<fieldset>
									<input type="text" name="subject" id="subject" placeholder="Subject" maxlength="60">
								</fieldset>
								<fieldset>
									<textarea name="comments" id="comments" placeholder="Message"></textarea>
								</fieldset>
								<fieldset>
									<input type="submit" name="send" value="Send Message" id="submit" class="button">
								</fieldset>
							</div> <!-- /.contact-form -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6">
						<div class="widget-content">
							<div class="page-title">Our Location</div>

							<div id="templatemo_map"></div>

                            <div class="contact-information">
                            	<div class="row">
                            		<div class="col-md-6 col-sm-6">
                            			<p>120 Digital Studio, Inya Lake, Yangon 10620, Myanmar</p>
                            		</div> <!-- /.col-md-6 -->
                            		<div class="col-md-6 col-sm-6 text-right">
                            			<ul>
                            				<li>Tel: 010-020-0340</li>
                            				<li>Email: info@company.com</li>
                            			</ul>
                            		</div> <!-- /.col-md-6 -->
                            	</div> <!-- /.row -->
                            </div> <!-- /.contact-information -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.contact -->

	
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="http://music.163.com/outchain/player?type=2&id=423849475&auto=0&height=66"></iframe>
  
	<div id="templatemo_footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright &copy; 2018 photosmaker co.,ltd. | weibo @ <a href="https://weibo.com/u/2420519844" target="_blank" title="photosmaker"> cc </a> for more information | wechat or qq <a href="http://www.baidu.com/" target="_blank" title="cc">610312521</a></p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.templatemo_footer -->

	<!-- Scripts -->
	<script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src="/assets/js/tabs.js"></script>
	<script src="/assets/js/jquery.lightbox.js"></script>
	<script src="/assets/js/templatemo_custom.js"></script>
	<!-- 
    	Free Responsive Template by templatemo
    	http://www.cssmoban.com
	-->
<script type='text/javascript' src='/assets/js/logging.js'></script>
</body>
</html>